.app.dark {
    --bg-color: rgb(35, 35, 130);
    --bg-color-inverted: rgb(238, 229, 163);

    --primary-color: rgb(6, 191, 40);
    --secondary-color: rgb(94, 255, 123);

    --primary-color-inverted: rgb(15, 60, 23);
    --secondary-color-inverted: rgb(86, 117, 92);
}